#container{
    width: 100%;
    max-width: 800px;
    min-width: 300px;
    margin: auto;
}

#container h1{
    font-size: 30px;
    font-family: 'Lucida Sans', Verdana, sans-serif;
    border-bottom: 2px solid rgb(195, 166, 0);
    padding-bottom: 10px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 10px;
    text-align: center;
}

#myform{
    background-color: rgba(52, 49, 49, 0.184);
    padding: 25px;
    text-align: center;
}
#myform div{
    margin: 15px 0;
}

#myform label{
    display: inline-block;
    width: 150px;
    font-size: 18px;
    /* text-align: right; */

}

#myform input{
    display: inline-block;
    width: 200px;
    padding: 15px;
    

}

#check label{
    display: inline-block;
    width: 300px;
    
}

#check input{
    display: inline-block;
    width: 20px;
    padding: 5px;
}

#sub{
    background-color: rgba(52, 49, 49, 0.184);
    color: white;
    font-size: 18px;
    border: 1px solid rgb(26, 26, 24);
}