#body{
    background-color:rgba(238, 130, 238, 0.833);

}

#container{
    /* display: flex;
    justify-content: center; */
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
    height: 600px;

    margin-top: 10%;
    margin-bottom: 10%;
    margin-left: 27%;
    margin-right: 27%;
    max-width: 1500px;
    min-width: none;
}

#formular{
    padding: 57px 65px;
    height: 81%;
}

 .h1{
    text-align: left;
}

#formular .form1, .form3, .form5{
    text-align: left;
    font-size: medium;
    margin-top: 50px;
}

#formular .form2, .form4, .form6{
    text-align: right;
}

#button-label{
    margin-top: 40px;
    margin-left: 100px;
    border-radius: 4px;
    border: 0.5px solid black ;
    display: inline-flex;
    height: 50px;

}