@font-face {
    font-family: 'Poppins';
    src: local('Poppins Black'), local('Poppins-Black'),
        url('../fonts/Poppins-Thin.woff2') format('woff2'),
        url('../fonts/Poppins-Thin.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap
}

.logo{
    width: 100%;
    max-width: 300px;
    float: left;
}
#logo{
    width: 150px;
}

nav{
    width: 100%;
}

nav ul{
    height: 30px;
    padding: 60px 0px;
    background-color: #172628;
}

nav ul li{
    display: inline;
    padding: 20px 25px;
    list-style: none;
}

 nav ul li a:hover{
    color: #CAB77F;
    text-shadow: 6px 6px 20px #CAB77F;
} 

nav ul li:hover, nav ul li a.active{
    color: #CAB77F;
    /* background-color: #CAB77F; */
}

nav ul li a{
    font-size: 30px;
    color: white;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
}
/* END HEADER */

#banner{
    width: 100%;
    height: 600px;
    background-image: url(../images/Gold\ photo\ 1536\ x\ 864.jpeg);
}

#banner h1{
    color: white;
    /* text-align: center; */
    position: absolute;
    left: 45%;
    top: 55%;
}

/* END BANNER */

.container{
    margin: 20px 0px;
    padding: 10px 30px;
}

#foto{
    width: 100%;
    max-width: 1800px;
    margin: auto;
}

#foto img.foto{
    display: inline-block;
    margin: 20px;
}

/* Start Contact */

#contact div{
    margin: 25px 0;
}

#contact label{
    width: 100px;
    display: inline-block;
}

#contact select{
    width: 200px;
}

#contact fieldset{
    display:inline-block;
    width: 400px;
    border: 2px solid black;
}

/* Stop Contact */